.home-page-container 
{
  
  .carousel-image 
  {

    height: 50vh;
    width: 80vw;

    @media only screen and (max-width: 768px) {

      width: 100%;
    }

    @media only screen and (min-width: 1360px) {

      max-width: 1088px;
    }
  }

  .opening-title{

    margin-top: 50px; //margin 
    
    .opening-text1 {
      margin-top: 50px;
      margin-bottom: 50px;
    }

  }


  .card-container{  
    display: flex;
    justify-content: space-between;
    //gap: 50px; 
    padding: 0 70px; /* Gap on both sides of the cards */
    margin: 0 auto;
    
  }
  
  .card{
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    width: 18rem;
    flex: 1;
    margin-left: 25;
    max-width: calc(40% - 25px);
  }

  .contributors-title{
    margin-top: 50px; //margin 
    margin-bottom: 50px;
  }

  
}
