// ContactUsPageComponent.scss
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 1px;
}

.col-lg-8{
  //background-color: #00a98f;
}

.section-box {
    background-color: #00a98f;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    h2,
    h3,
    h4,
    p,
    ul {
      color: #fff; /* Set text color to white */
      margin-bottom: 20px; /* Adjust the margin as needed */
    }
  }
  
  Form {
    background-color: #00a98f;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    label {
      color: #fff; /* Set label text color to white */
    }
  
    .form-group {
      margin-bottom: 20px;
    }
  
    .btn-primary {
      background-color: #00695c;
      border: none;
    }
  }
  