.nav-bar-container {
  background-color: #f7f7f7;
  box-shadow: rgb(0, 0, 0) 1px 1px 10px;
  position:fixed;
  width: 100%;
  transition: background-color 0.4s ease, backdrop-filter 0.4s ease, box-shadow 0.4s ease;
  z-index: 1000;

  &.scrolled {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}

.container {
  width: 80%;

  @media only screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
  }

  @media only screen and (min-width: 1360px) {
    max-width: 1088px;
  }
}

.nav-dropdown .dropdown-menu {
  background-color: #f7f7f7; // Set the dropdown menu background color
  .dropdown-item {
    color: rgb(255, 255, 255);
    &:hover {
      color: rgb(255, 255, 255);
      background-color: #b3b0b0;  // Adjust the color to your preference
    }
  }
}




.dropdown .dropdown-toggle {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.719) !important;
}

.navbar-brand {
  display: flex;
  // font-family: Helvetica-Nue;
  color: #ffffff;
  // margin-bottom: 5px;

  .nav-logo {
    width: 50px; /* Adjust the logo size as needed */
    margin-right: 5px; /* Add margin between logo and text */
    margin-bottom: -5px;
    margin-left: 10px;
  }
}

.navbar-expand .navbar-nav {
  display: flex;
  display: contents;
  font-family: Helvetica;
  margin-left: -15px;

  a {
    font-family: Helvetica;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.719);
    text-decoration: none;
  }
}
