.verification-container {
	// width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

  .verification-windown {
    
    h1,h2{
      color: #000;
      margin: 10px;
    }
    label{
      color: #000;
      margin: 8px;
      display: block;
    }
      // width: 80%; // Adjust this percentage based on your design preferences
      // min-width: 410px;
      max-width: 420px;
      box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.795);

      input,
      select {
        width: 50%; // Adjust the width if necessary
        padding: 8px;
        border: 2px solid #000000;
        border-radius: 4px;
        color: #000;
      }
    }


    
}

.green_btn {
	border: none;
	outline: none;
	padding: 12px 0; 
    background-color: #00695c;
    color:#fff;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	margin: 20px;
	cursor: pointer;
    
    &:hover {
        color: rgb(0, 0, 0);
      }
}

