.verification-container {
	// width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

    label {
        color: #fff;
        margin: 8px;
        display: block;
      }

    input,
      select {
        width: 50%; // Adjust the width if necessary
        padding: 8px;
        border: 1px solid #fff;
        border-radius: 4px;
        color: #000;
      }
}

.green_btn {
	border: none;
	outline: none;
	padding: 12px 0; 
    background-color: #00695c;
    color:#fff;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	margin: 20px;
	cursor: pointer;
    
    &:hover {
        color: rgb(0, 0, 0);
      }
}

