.App {
  text-align: center;
}

.top-bar-container {
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  display: flex;
  align-items: flex-end;
  font-family: Helvetica-Nue;
}

.navbar-expand .navbar-nav {
  display: flex;
  display: contents;
  font-family: Sans-Serif;
  margin-left: -15px;
}

.carousel-container {
}

.carousel-inner {
}

.carousel-image {
  height: 50vh;
  width: 80vw;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  @media only screen and (min-width: 1360px) {
    max-width: 1088px;
  }
}
