.App {
  text-align: center;
  
}


.top-bar-container {
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  display: flex;
  align-items: flex-end;
  font-family: Helvetica-Nue;

}

.navbar-expand .navbar-nav {
  display: flex;
  display: contents;
  font-family: Sans-Serif;
  margin-left: -15px;
}

.carousel-container{

}

.carousel-inner{
  
}