.content-wrapper-routes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border: 1px solid grey; /* for dev purposes */
  border-top: none; /* for dev purposes */

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  @media only screen and (min-width: 1360px) {
    max-width: 1088px;
  }
}
