.content-wrapper-container {
  height: 50vh;
  width: 80vw;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  @media only screen and (min-width: 1360px) {
    max-width: 1088px;
  }
}
